* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1360px;
  margin: 0 auto;
}
.header {
  height: 80px;
  width: 100%;
  background-color: #000;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo-sec {
  padding: 0px 10px;
}
.header .logo-sec img {
  width: 142px;
}
.menu-sec ul li {
  display: inline-flex;
  list-style: none;
  padding: 12px 20px;
}
.menu-sec ul li a {
  color: #fff;
  text-decoration: none;
  transition: ease-in-out 300ms;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 6px 16px;
}
.menu-sec ul li a:hover {
  border: 1px solid #fff;
}
/* footer */
.footer {
  width: 100%;
  background-color: #000;
  padding: 10px 0px;
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.footer-logo {
  padding: 0px 10px;
}
.footer-logo img {
  width: 142px;
}
.copy-right {
  border-top: 1px solid #fff;
  color: #ffff;
  text-align: center;
  padding: 12px 0px 0px;
  font-size: 14px;
}
.footer-content .container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
}
.footer-section.footer-menu ul li {
  margin: 12px 0px;
}
.footer-section.footer-menu ul li a {
  cursor: pointer;
  transition: ease-in-out 300ms;
  text-decoration: none;
  color: #fff;
}
.footer-section.footer-menu ul li a:hover {
  border-bottom: 1px solid #fff;
}
.footer-contact-inner {
  text-align: start;
  width: 200px;
  display: block;
}
.footer-contact-inner i {
  padding: 0px 10px;
}
/*first section css start */
.section-inner {
  height: 800px;
  width: 100%;
  background-image: url("./banner.jpeg");
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}
#first-section.page-content .banner-sec img.banner-image {
  height: 100%;
  width: 100%;
}
#first-section .banner-overly {
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 82%);
  position: absolute;
  top: 0px;
  left: 0px;
}
#first-section .banner-content {
  display: flex;
  padding: 9rem 5rem;
  color: #fff;
  padding-bottom: 0px;
}
#first-section .banner-title {
  width: 28%;
}
#first-section .title-text {
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding-top: 2rem;
  line-height: 48px;
}
#first-section .banner-steps-sec {
  width: 73%;
}
#first-section .banner-step {
  width: 280px;
}
#first-section .step-badge {
  height: 80px;
  width: 80px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
#first-section .step-one .step-badge {
  color: #3996cd;
}
#first-section .step-two .step-badge {
  color: #e36c73;
}
#first-section .step-three .step-badge {
  color: #8a5891;
}
#first-section .step-four .step-badge {
  color: #4eb0c2;
}
#first-section .step-five .step-badge {
  color: #e6d056;
}
#first-section .step-descriptions {
  padding: 15px 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
}
#first-section .horizontal-steps-sec {
  display: flex;
}
#first-section .step-three {
  margin-left: 5rem;
}
#first-section .wives-line {
  position: absolute;
  height: 100%;
  width: 90%;
  top: -96px;
  left: 0px;
  z-index: 1;
}
/*second section css start  */
#second-section .section-two-inner {
  display: flex;
  position: relative;
}
#second-section .right-section {
  height: 860px;
  width: 35%;
  background-color: #000;
  color: #fff;
}
#second-section .right-section-inner {
  padding: 6rem 4rem;
}
#second-section .engaging-title .title {
  font-size: 2.4rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 48px;
  margin-bottom: 26px;
}
#second-section .engaging-list ul li {
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 12px;
  position: relative;
  margin-left: 50px;
}
#second-section .engaging-list ul li::before {
  content: "\003E";
  height: 30px;
  width: 30px;
  background-color: #3996cd;
  position: absolute;
  left: -50px;
  font-size: 22px;
  top: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#second-section .left-section {
  width: 75%;
  z-index: 222;
}
#second-section .engaging-image {
  position: relative;
}
#second-section .engaging-image img {
  height: 200px;
  width: 280px;
  position: absolute;
  right: -40%;
  top: 50px;
}
#second-section .left-section-inner {
  height: 100%;
  width: 100%;
}
#second-section .left-section-inner .mobile-image {
  height: 100%;
  width: 100%;
  object-position: 100% 0%;
  object-fit: cover;
}
#second-section .wave-line2 {
  position: absolute;
  top: 70px;
  left: -26px;
  width: 100%;
  z-index: 11;
}
#second-section .wave-line2 img {
  height: 100%;
  width: 90%;
}
/*third section css start  */
#third-section {
  width: 100%;
  position: relative;
}
#third-section .page-content-inner {
  width: 100%;
  display: flex;
  height: 900px;
}
#third-section .left-content {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: end;
}
#third-section .content-inner {
  width: 70%;
  margin: 0px auto;
  margin-top: auto;
  padding-bottom: 5rem;
}
#third-section .content-title {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  line-height: 120%;
  padding-bottom: 30px;
}
#third-section .content-text {
  font-size: 18px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-right: 13rem;
  line-height: 130%;
}
#third-section .right-content {
  width: 30%;
  background-color: #000;
  height: 100%;
  position: relative;
}
#third-section .mobile-image {
  height: auto;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#third-section .waves-img3 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -22%;
  left: 0;
  z-index: 1;
}
#third-section .waves-img3 img {
  height: 100%;
  width: 100%;
}
/* our presence page css */
.presence-heading {
  font-size: 1.5rem;
  margin-top: 3rem;
  text-transform: uppercase;
}
.presence-content-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
}
.presence-card {
  height: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 410px;
  background-size: cover;
  background-position: center center;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
}
.presence-overly {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.presence-card:hover .presence-overly {
  height: 100px;
}
.presence-overly-text {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  font-family: "Poppins", sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
